#main-wrapper .happy-customers, #reviews-wrapper {
    display: none;
}

#main-wrapper #main-background {
  background: linear-gradient(120deg, #A6B37D 0%, #A6B37D 20%, #FEFAE0 30%, #A6B37D 50%, #DF2B2B 70%, #C6206D 100%);
    /*background-size: auto;*/
  background-size: 200% 200%;
  animation: gradient-animation 20s ease-in-out alternate infinite;
}
.row .title h3 span, .text-primary, #prices-wrapper .card .plan-title, #prices-wrapper .card:hover .plan-cost, #main-wrapper .minimize-navbar li.nav-item a.active, 
#main-wrapper .minimize-navbar li.nav-item:hover a.nav-link, #main-wrapper .minimize-navbar li.nav-item:focus a.nav-link,
#prices-wrapper .card:focus .plan-cost, #faq-wrapper #accordion .card .card-header .btn-link:hover, #faq-wrapper #accordion .card .card-header .btn-link:focus, #welcome-footer #copyright p a,
#welcome-footer #footer a.footer-link:hover, #welcome-footer #footer a.footer-link:focus, .review-card-scroll .hori-between-div .horizontal-div .reviewer-name, .text-info,
.side-menu__item:hover .side-menu__icon, .side-menu__item:focus .side-menu__icon, .page-leftheader .breadcrumb-item.active a, .footer a:not(.btn), .side-menu__item.active .side-menu__icon{
  color: #A6B37D !important;
}
.tabs-menu-body .price-card-border {
  border: 2px solid #A6B37D !important;
}
.tabs-menu ul li .active, .tabs-menu-body .card .plan-featured, #back-to-top {
  background: #A6B37D;
}

.btn-primary-pricing:hover, .btn-primary-pricing:focus, .btn-primary {
  background-color: #A6B37D;
  border-color: #A6B37D;
}
.input-box input:hover, .input-box input:focus {
  border-color: #A6B37D;
}
.side-menu__item:hover, .side-menu__item:focus, .side-menu__item.active {
  border-left: 3px solid #A6B37D;
}
.row .title p {
  color: #B99470;
}
.btn-primary-frontend {
  background-image: linear-gradient(180deg, #A6B37D, #C0C78C);
}
#extended-tab, .plagiarism_grid1{
    display: none;
}